.android {
    color: #8bc349;
}
.mobile {
    color: #e01f1f;
}
.cologne {
    color: #000000;
}
.hack {
    color: #ff6d40;
}
.institute {
    color: #000000;
}
a .mobile, a .cologne, a .hack, a .institute {
    text-decoration: underline;
}
.navbar .join a {
    background-color: #8bc349;
}
.btn-register, .btn-register:hover, .btn-register:focus {
    font-size: 26px;
    font-weight: 300;
    border-width: 2px;
}
.btn-register {
    color: black;
    background-color: #8bc349;
}
.btn-register:hover, .btn-register:focus {
    color: black;
    background-color: white;
}

#join .form-control.email {
    width: 300px;
}
#join .form-control.email, #join .subscribe {
    height: auto;
    font-size: 18px;
}

.handwritten {
    font-family: 'Shadows Into Light Two', cursive;
}

#schedule table {
    width: 100%;
}
#schedule tr {
    border-bottom: 1px solid #8bc349;
}
#schedule tr:last-child {
    border-bottom: none;
}
#schedule table th {
    padding: 0.5em;
}
#schedule table td {
    padding: 0.5em;
    text-align: left;
}
